.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 20px;
}

.image {
    width: 140px;
    height: 100px;
}

.contact-name {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

.modal-img {
    width: 300px;
    height: 200px;
}
